@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#tela_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure, h1 {
    text-align: center;
}

img {
    -webkit-user-drag: none; /* o usuário nao pode arrastar a imagem */
}

h1 {
    margin-bottom: 1rem; /* 16px */
}

form {
    text-align: center;
}

label {
    display: inline-block; /* foi colocado porque nao deixa mexer na largura */
    width: 70px;
}

input {
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 5px;

}

input[type=email], input[type=password] {
    width: 250px;
    margin-bottom: 1rem;
    height: 30px;
}

input[type=submit], input[type=reset] {
    width: 130px;
    height: 2.5rem;
}

input[type=submit] {
    background: #1D495f;
    color: #fff;
}

input[type=submit]:hover {
    background: #cecece;
    color: #1D495f;
    font-weight: bolder;
    cursor: pointer;
}

input[type=reset] {
    background: #FF6600;
    color: #fff;
}

input[type=reset]:hover {
    background: #cecece;
    color: #FF6600;
    font-weight: bolder;
    cursor: pointer;
}

/* FORMATAÇÕES DA PÁGINA PERFIL */

#tela_perfil {
    width: 720px;
    height: 100vh;
    font-size: 1.25rem;
    margin: 0 auto; /* centraliza div */
    color: #191919;
}

@media (max-width: 720px) {
    #tela_perfil {
        width: 90%;
    }
    #tela_perfil h1 {
        font-size: 1.25rem;
    }
    #foto_perfil {
        top: 10px;
    }
    .localizacao, #menu_top a {
        font-size: 0.75rem;
    }
}

#foto_perfil {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #ccc;
    position: absolute;
    top: 20px;
    left: 20px;
}

figcaption {
    display: none;
}

header h1 {
    font-size: 2rem;
    color: #191919;
}

header {
    height: 350px;
    background: #ececec;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    position: relative; /* para usar absolute internamente */
    margin-bottom: 1rem;
}

#dados {
    width: 100%;
    margin-top: 120px;
}

blockquote {
    
}